@media (max-width: 768px) {
    #card .carousel-inner .carousel-item>div {
        display: none;
    }
    #card .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#card .carousel-inner .carousel-item.active,
#card .carousel-inner .carousel-item-next,
#card .carousel-inner .carousel-item-prev {
    display: flex;
}


/* display 3 */

@media (min-width: 768px) {
    #card .carousel-inner .carousel-item-right.active,
    #card .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }
    #card .carousel-inner .carousel-item-left.active,
    #card .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

#card .carousel-inner .carousel-item-right,
#card .carousel-inner .carousel-item-left {
    transform: translateX(0);
}