#carousel .carousel-item.slide1 {
    background-image: url("https://www.takeuchi-const.co.jp/images/index/slide03.jpg");
  }
  
  #carousel .carousel-item.slide2 {
    background-image: url("https://www.takeuchi-const.co.jp/images/index/slide02.jpg");
  }
  
  #carousel .carousel-item.slide3 {
    background-image: url("https://www.takeuchi-const.co.jp/images/index/slide01.jpg");
  }
  
  #carousel .carousel-item {
    height: 70vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
  }
  
  #carousel .carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }
  
  #carousel .carousel-item .caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;
  }
  
  #carousel .caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;
  }
  
  #carousel .caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;
  }
  
  /* Button */
  .delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #ffffff;
    border: none;
    border-left: 3px solid #831414;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #da2020;
  }
  
  .delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #960000;
    border-color: #df3c3c;
  }